#logopng {
    float: left;
}

body {
    max-width: 960px;
    margin: auto;
}

#listtable {
    position: relative;
    /* top: 295px; */
    left: 25px;
}

li {
    list-style-type: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    line-height: 35px;
}
#listone {
    padding-top: 15px;
}

#listtwo {
    position: absolute;
    top: 0px;
    right: 150px;
    /* margin-left: 60px; */
    max-width: 400px;    
}

span {
    margin-left: 25px;
}

#imagelist {
    position: absolute;
    right: 100px;
    top: 0px;
    z-index: -1; 
}

footer {
    margin-top: 100px;
    max-width: 960px;
    text-emphasis: center;
}

#Vanessa {
    float: left;
}

button {
    float: right;
    font-size: 20px;
    text-decoration: none;
}

#aboutme {
    max-width: 550px;
     
}

p {
    text-indent: 20px;
    max-width: 901px;
    font-family: 'Times New Roman', Times, serif;

}

#bottomfooter {
    max-width: 901px;
    margin-left: 300px;
}

#subheader {
    font-family: 'Abel', sans-serif;;
}

h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 1.7em;
}

h1  {
    font-family: 'Anton', sans-serif;
    font-size: 1.8em;
}